$colors: (
    tronLightBlue: #a1fefe,
    tronDarkBlue: #004242,
    containerDark: #151422,
    containerLight: #fff,
    iconDark: #01D2F0,
    iconLight: #fff,
    navLight: linear-gradient(to right, #1B1464 0%, #00FEFE 100%),
    navDark: #151422,
    cardDark: linear-gradient(to bottom right, #00FEFE 0%, #1B1464 100%),
    cardLight: #fff,
    textLight: #000,
    textDark: #01D2F0,
    white: #ffffff,
    black: #000000,
    gradientColor: linear-gradient(to left, #1B1464 0%, #00FEFE 100%),
    mainColor: #01D2F0,
);
