@import "../../assets/scss/colors";
@import "../../assets/scss/functions.scss";

#appHeader {
    .nav-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 6px 20px;
    }
    .search-input {
        width: 500px;
        border-color: color(mainColor);
        // padding: 0 20px;
    }

    .form-control {
        color: white;
    }
    .form-control:focus {
        color: white;
    }
    ::placeholder {
        color: color(mainColor);
    }

    .nav-user {
        border-bottom-width: 3px;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        &.light {
            &:hover {
                border-bottom-color: white!important;
            }
            &.active {
                border-bottom-color: white!important;
            }
        }
        &.dark {
            &:hover {
                border-bottom-color: color(mainColor)!important;
            }
            &.active {
                border-bottom-color: color(mainColor)!important;
            }
        }
    }
}

@font-face {
    font-family: robotic-bold;
    font-weight: bold;
    src: url(../../assets/font/SFTransRobotics-Oblique.ttf);
}

.robot-text {
    font-family: robotic-bold;
}